@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Sansita:700|Libre+Barcode+128');

:root {
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Sansita', sans-serif;
}